body, html {
   /**  background: url(https://images.unsplash.com/photo-1432139555190-58524dae6a55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80);*/
   margin: 0;
   padding: 0;
   display: block;
   font-family: 'Droid Serif', serif;
   font-size: 15px;
   font-weight: normal;
   line-height: 26px;
}

html {
    height: 100%;
}

#header-text{
    font-family: 'Aguafina Script', cursive;
    color: #ccad52;
    font-size: 50px;
    letter-spacing: 9px;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 36px;

}
h1 {
    color: green;
    font-size: 5em;
    font-family: Calibri, san-serif;
}
#services {
    text-align: center;
}
#about-text h3 {
    text-align: center;
    padding-top: 2%;
    font-family: "Nunito",sans-serif;
}

.banner-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    text-align: center;
  }
  
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    text-align: center;
    background-color: rgba(255,255,255,.85);
    width: 60%;
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 0 2rem;
    border-radius: 15px;
    border: 3px outset;