

body, html {
    margin: 0;
    padding: 0;
    display: block;
    font-family: 'Droid Serif', serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 26px;
    height: 100%;
}

header {
    position: relative;
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255,0.25);
}

header, h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

#underline{
    height: 3px;
    background: #eaeaea;
}

#header-text{
    font-family: 'Aguafina Script', cursive;
    color: #ccad52;
    font-size: 50px;
    letter-spacing: 9px;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 36px;

}
h1 {
    color: green;
    font-size: 5em;
    font-family: Calibri, san-serif;
}
#services {
    text-align: center;
}
#about-text h3 {
    text-align: center;
    padding-top: 2%;
    font-family: "Nunito",sans-serif;
}

ul {
    list-style-type: none;
    text-align: right;
    
   
}

.banner-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    text-align: center;
  }
  
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    text-align: center;
    width: 60%;
    max-width: 40rem;
    margin: 0 auto; 
}

.menu {
    width: 25%;
    float: right;
}

.menu ul {
    margin: 24px 10px;
}
.menu ul li {
    list-style-type: none;
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    position: visible;
}

#background-image {
    width: 100%;
    height: 100%;
    background: url(../img/banner-background.jpg);
    background-size: cover;
    position: relative;
}

#background-image h1 {
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 25%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 40pt;
    padding: 2em;
    text-shadow: 1px 1px 1px black;
}

.findus {
    background: url(../img/background-findus.jpg);
    background-attachment: fixed;
    color: #fff;
    text-shadow: 1px 0 0 black;
    display: block;
    background-size: cover;
    position: relative;
}

.banner-content {
    min-height: 240px;
    padding: 3em;
}

.findus h3 {
    text-align: center;
    text-shadow: 1px 0 0 black;
    text-transform: uppercase;
}

#yourLocation p {
    text-align: center;
    
}


.inp-grp {
    width: 290px;
    margin: 0 auto;
}
#yourLocation input {
    padding: 1px;
    font-size: 14pt;
    color: #00006B;
    border: 1px solid #D69000;
}


#yourLocation input[type="submit"] {
    background: #f7a700;
    border: 2px solid #D08C00;
    position: relative;
    color: white;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
    padding: 1px;
    font-size: 14pt;
}

footer {
    padding: 40px;
    background: #202020;
   
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
   
}

 
#listItems {
    text-align:center;    
}


#listtitle {
    text-align: center;     
}

li  {     
    color: white;

}

.copy {
    width: 100%;
    text-align: center;
    color: #fff;
}

<<<<<<< Updated upstream
li a {
    color: white;
}

a:hover{
    color: yellow;
    background: orange;
}
a:active{
    color:green;
    background: beige;
=======
.heading-text {
    font-family: 'Aguafina Script', cursive;
    color: #ccad52;
    font-size: 50px;
    letter-spacing: 9px;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 36px;
 
}
.heading {
   text-align: center;
}

.underline {
    height: 3px;
    background: #eaeaea;
    line-height: 26px;
    
}

.float-wrapper {
    display: block;
    clear: both;
    width: 100%;
    margin: 0 auto;
}

.restaurant {
    width: 33%;
    padding: 1em;
    box-sizing: border-box;
    text-align: center;
}

 .restaurant {
    text-align: center;
}
 .img {
    position: center;
>>>>>>> Stashed changes
}